http:
  routers:
    kvm-tana-router:
      entryPoints:
        - "websecure"
      rule: "Host(`kvm-tana.bob.house`)"
      service: "kvm-tana-service"
      tls: "true"
    my-wss-e2e:
      entryPoints:
        - "websecure"
      rule: "Host(`kvm-tana.bob.house`)"
      service: my-wss-service
      tls: {}
    iot-router-router:
      entryPoints:
        - "websecure"
      rule: "Host(`iot-router.bob.house`)"
      service: "iot-router-service"
      tls: "true"
    iot-switch-router:
      entryPoints:
        - "websecure"
      rule: "Host(`iot-switch.bob.house`)"
      service: "iot-switch-service"
      tls: "true"
    main-router-router:
      entryPoints:
        - "websecure"
      rule: "Host(`main-router.bob.house`)"
      service: "main-router-service"
      tls: "true"
    main-switch-router:
      entryPoints:
        - "websecure"
      rule: "Host(`main-switch.bob.house`)"
      service: "main-switch-service"
      tls: "true"
    netalertx-router:
      entryPoints:
        - "websecure"
      rule: "Host(`netalertx.bob.house`)"
      service: "netalertx-service"
      tls: "true"
  serversTransports:
    insecure-transport:
      insecureSkipVerify: true
  services:
    kvm-tana-service:
      loadBalancer:
        servers:
        - url: "https://192.168.1.244"
        serverstransport: insecure-transport@file
    my-wss-service:
      loadBalancer:
        servers:
          - url: "wss://192.168.1.244"
        serversTransport: insecure-transport@file
    iot-router-service:
      loadBalancer:
        servers:
        - url: "http://192.168.20.1"
    iot-switch-service:
      loadBalancer:
        servers:
        - url: "http://192.168.20.5"
    main-router-service:
      loadBalancer:
        servers:
        - url: "http://192.168.1.1"
    main-switch-service:
      loadBalancer:
        servers:
        - url: "http://192.168.1.5"
    netalertx-service:
      loadBalancer:
        servers:
        - url: "http://freeman.lan:20211/"
